.container {
  display: flex;
  flex-direction: column;
  border: solid 4px red;
  border-radius: 10px;
  text-align: center;
  padding: 3rem;
  max-width: 20rem;
  margin: 2rem auto;
  align-items: center;
  h3 {
    font-size: 1.5rem;
    color: red;
  }
  a {
    max-width: 6rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: red;
    cursor: pointer;
  }
}
