.container {
  border: solid black 3px;
  /* width: 600px; */
}

.form {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.title {
  font-size: 2rem;
  margin: 0;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  display: block;
  width: 100px;
  font-size: 20px;
}

.input {
  padding: 0.8rem;
  font-size: 1.3rem;
  border: none;
  background-color: rgb(222, 222, 222);
  border-radius: 5px;
}
/* .input:focus {
  border: solid green 3px;
} */

/* .usernameInput {
  background-color: green;
} */

.autofill {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 10px;
  width: 100px;
  font-size: 1.1rem;
}

/* .passwordInput {
  background-color: blue;
} */

.button {
  border-radius: 5px;
  border: solid black 2px;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-out;
  /* max-width: 70%; */
  margin: 0 auto;
}
.button:hover {
  transform: scale(1.1);
}
