:root {
  /* Dark theme by default */
  --background-color: white;
  --text-color: black;
}

.light-mode {
  /* Light theme overrides */
  --background-color: white;
  --text-color: black;
}

/* Global Styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color); /* Use var to apply CSS variable */
  color: var(--text-color);
  line-height: 1.6;
}
